.slider-base {
  width: 100%;
  min-width: 400px;

  padding: 2.5rem 6rem;
  position: relative;
  inset: 0;
  overflow-x: hidden;
}

.slider-container {
  width: 60%;
  height: 100%;
  margin: 0rem auto;

  position: relative;
  inset: 0;

  /* padding: 1rem; */
  /* padding: 0 4rem; */
  overflow-x: hidden;
}
.slider-container .slider {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;

  width: fit-content;
  transition: all 0.4s ease-in;
  position: relative;
  left: 0;

  /* overflow-x: hidden; */
}
.slider-container .slider .card {
  width: 250px;
  height: 100%;
  font-family: 'Century Gothic';
  flex-shrink: 0;

  background-color: white;

  z-index: 0;
}
.slider-container .slider .card img {
  width: fit-content;
  margin-bottom: 1rem;
}
.slider-container .slider .card h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.slider-container .slider .card p {
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1rem;
}
.slider-btns-container {
  width: 100%;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  gap: 20%;
  position: absolute;
  left: 0;

  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.slider-btn {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  display: grid;
  place-content: center;
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgb(178, 170, 170);
  cursor: pointer;
}
.slider-btn:hover {
  transition: all 0.4s ease;
  opacity: 0.8;
}

.slider-prev-btn img {
  rotate: 180deg;
}

@media screen and (max-width: 1200px) {
  .slider-base {
    width: 100%;

    position: relative;
    padding: 0rem 0rem;

    overflow-x: hidden;
  }
  .slider-btns-container {
    justify-content: center;
    gap: 40%;
    top: 85%;
  }
  .slider-container {
    width: 100%;
    height: 100%;
    margin: 0rem auto;

    /* padding: 1rem; */
    /* padding: 0 4rem; */
    overflow-x: hidden;
  }
  .slider-container .slider {
    width: 100%;
    transition: all 0.4s ease-in;
    padding: 1rem;
  }

  .slider-container .slider .card {
    /* max-width: 300px; */

    height: 100%;
    font-family: 'Century Gothic';
    flex-shrink: 0;

    background-color: white;
  }
}
